<h1>Add New Picture Here :)</h1>
<form action= "/pictures" method= "POST">
	<p>
		<label>Title</lable><br>
		<input type="text" name="title"/>
	</p>
	<p>
		<label>Artist</lable><br>
		<input type="text" name="artist"/>
	</p>
	<p>
		<label>URL</lable><br>
		<input type="text" name="url"/>
	</p>
	<p>
		<input type="submit"/>
	</p>
</form>